<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this transaction", edit_account_transaction_path(@transaction) %> |
  <%= link_to "Back to transactions", account_transactions_path %>

  <%= button_to "Excluir transação", account_transaction_path(@account, @transaction), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700" %>
</div>